.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.auth h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}
.auth .login-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: white;
  width: 300px;
}
.auth .login-form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 6px;
}
.auth .login-form .sub-button {
  padding: 10px;
  border: none;
  background-color: purple;
  cursor: pointer;
  color: white;
  width: 200px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.auth .login-form span {
  font-size: 12px;
  text-align: center;
}
.auth .login-form span .tips {
  margin: 0px;
  padding: 0px;
}
.auth .login-form span a {
  margin: 10px auto;
}
.auth .login-form span .error {
  gap: 10px;
  padding: 6px 0px;
  margin: 0;
  font-size: 12px;
  height: 12px;
  color: red;
  text-align: center;
  align-items: center;
  visibility: hidden;
}
